<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VisualizationEntities" connectionString="metadata=res://*/VizData.csdl|res://*/VizData.ssdl|res://*/VizData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gyudbgj7jz.database.windows.net,1433;initial catalog=Visualization;persist security info=True;user id=Amichai@gyudbgj7jz;password=love4cgR;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>