<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DB2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VisualizationEntities" connectionString="metadata=res://*/VizData.csdl|res://*/VizData.ssdl|res://*/VizData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gyudbgj7jz.database.windows.net,1433;initial catalog=Visualization;persist security info=True;user id=Amichai@gyudbgj7jz;password=love4cgR;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <DB2.Properties.Settings>
      <setting name="TweetIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </DB2.Properties.Settings>
  </userSettings>
</configuration>